<div class= "booyah-box"> 
	<div class = "col-xs-4"> 
		<%= image_tag "user.png"%> 
	</div>
	<div class = "col-xs-8"> 
		<h2> Hello, Iliana </h2> 
		<h3> Member since October 2016 </h3>  
	</div> 
	<div class = "clear"></div> 
</div> 
<br /><br />
<h1 class="text-center">My Travel Plans</h1> 
<p> Upcoming: Vienna, Austria </br> 
December 5th - December 15th </p>
<br /><br />  
<div class = "clear"> </div>
<h1 class = "text-center"> Friends </h1>
<br /> <br /> 
  </div> 