<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<h4> Are you a college student? </h4>
                <h4> Do you want to travel? </h4>
                <h4> Have no one to go with? </h4> 
                <h4> Too expensive to book alone? </h4> --> 
                <h2 class="section-heading text-center">About</h2> 
                <hr class="light"> 
                <p>SmartQuest enables local college students to find other college students to travel nation-wide and internationally by booking flights and hotels through our website, getting rewards and saving in the long-term! </p> 

                <h2 class="section-heading">Why?</h2> 
            </div>
            </div>
                <div class = "col-md-5 col1"> 
                <h1> less than 10% </h1> 
                </div> 
                <div class = "col-md-7"> <h3> of college students study abroad </h3>
                </div>  

                <div class = "col-md-5 col1 clr"> 
                <h1> 60% </h1> 
                </div> 
                <div class = "col-md-7"> <br> <h3> of Americans don't have a passport </h3> 
                </div> 
                <div class = "col-md-5 col1 clr"> 
                <h1> Alone? Expensive? </h1> 
                </div> 
                <div class = "col-md-7"> <br> <h3> The top three reasons people don't travel are because they have no one to go with, don't feel save and think it is very expensive! </h3> 
                </div> 

                <div class = "col-md-12 clr"> <p> We believe that students are missing out on so many opportunities. The world is a big place, so why not explore it while young and care-free? Travel also can help you:</p> </br> 
                <h4> Decide what you want to do </h4> 
                <h4> Learn along the way and become more knowledgable about other cultures! </h4> 
                <h4> Meet amazing people and have the best time of your life! </h4> 
        </div>
        </div>
    </div>
</section>

