<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 col-md-4 offset-md-8 >Revolutionizing travel: Student by student</h1>
            <hr>
            <p>Find other college students to travel with and stay at some of the finest hotels at discounted prices!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

