<section id="services"> 
<%= image_tag "creative/header1.jpg", class: "img-responsive", alt: "" %> 
    <div class="container">
        <div class="row"> 
            <div class = "col-sm-12"> 
            </div> 
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>1.Make a friend</h3>
                    <p class="text-muted"> Send out a travel plan on your dashboard and our platform will match with other students going there! Start chatting to learn more about each other! </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>2.Clarify location</h3>
                    <p class="text-muted">Clarify as to what part of the city/region you want to stay, what your goals and purpose of the travel are. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plane wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>3.Book accommodations</h3>
                    <p class="text-muted">Book through our website to find the best hotel and flight offers on the web!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>4.Share and save!</h3>
                    <p class="text-muted">Share acommodation costs (the more people, the cheaper) and get rewards from us based on how much you spent and where you are going! There always will be some type of a surprise for you! </p>
                </div>
            </div>
        </div>
    </div>
</section>

