.form {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4; 
  padding: 10px; 
  margin-top: 10%; 
  text-align: center;
} 

.login-block { 
	position:center; } 

.navbar-brand {
font-family: 'Rock Salt', cursive;
  font-weight: 200;
  letter-spacing: 1px;
} 

.img-responsive {
	padding-bottom: 30px;
}